<template>
    <div class='columns is-centered'>
        <ChapterForm v-if="typeForm=='chapter'" :chapter='obj' class='column is-one-third'/>
        <CourseForm v-else-if="typeForm=='course'" :course='obj' :parentID='parentID' class='column is-two-thirds'/>
        <ExercisesForm v-else :exercise='obj' :parentID='parentID' class='column is-two-thirds'/>
    </div>
</template>
<script>
import ChapterForm from './ChapterForm'
import CourseForm from './CourseForm'
import ExercisesForm from './ExerciseForm'

export default {

    components:{
        ChapterForm,
        CourseForm,
        ExercisesForm
    },

    props:{
        typeForm:{
            type:String,
            default:'exercise'
        },

        obj:{
            type:Object,
            default: null
        },

        parentID:{
            type:Number,
            default:0
        }
    }
}
</script>