<template>
    <div>
        <p class='sortable-title'>
            <b-icon class='handle' icon='align-justify' size='is-small'/>
            {{chapter.title}}
            <span class='is-pulled-right'>
                <b-button
                    type="is-success"
                    :outlined='!(chapter != null && chapter.order!=-1)'
                    size='is-small'
                    rounded
                    :icon-right="(chapter != null && chapter.order!=-1)?'eye':'eye-slash'"
                    @click="chapter.order = (chapter.order>-1)?-1:1"
                    title='Visibilité'
                />
                <b-button type="is-warning" size='is-small' rounded icon-right="edit" tag="router-link" :to="{name:'aEForm', params:{'typeForm':'chapter', 'obj':chapter}}"  title='Éditer'/>
                <b-button type="is-danger" size='is-small' rounded icon-right="times" @click="confirm(chapter)" title='Supprimer'/>
                <b-button size='is-small' rounded :icon-right="open?'chevron-up':'chevron-down'" @click='open=!open' :title='open?"Réduire":"Développer"'/>
            </span>
        </p>
        <div v-if='open'>
            <draggable class="list list-group" group='courses' draggable=".item" :list="chapter.courses" @start="drag=true" @end="drag=false" handle=".handle">
                <AECourses class='list-item item' v-for="course in chapter.courses" :key="course.id" :course='course'/>
                <div class='list-item' slot="footer" role='group' key='footer'>
                    <b-button type="is-primary" size='is-small' rounded icon-right="plus" title='Ajouter un cours' tag="router-link" :to="{name:'aEForm', params:{'typeForm':'course', 'parentID':chapter.id}}"/>
                </div>
            </draggable>
        </div>
    </div>
</template>
<script>
import draggable from 'vuedraggable'
import AECourses from './AECourses'

export default {

    components:{
        draggable,
        AECourses
    },

    data(){
        return{
            open:false
        };
    },

    props:{
        chapter:{
            type: Object,
            default: null
        }
    },

    methods:{
        confirm(object){
            this.$buefy.dialog.confirm({
                title: 'Suppression d\'un chapitre',
                message: 'Voulez vous vraiment <b>supprimer</b> le chapitre <b>'+object.title+'</b> ainsi que ses cours?<br/><br/>Cette action est irréversible.',
                cancelText: 'Annuler',
                confirmText: 'Supprimer le chapitre',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => this.$store.dispatch('chapters/deleteChapter', object).then(() => {
                    this.$buefy.toast.open(`Le chapitre ${object.title} a bien été supprimé !`);
                }).catch(error => {
                    console.log(error);
                })
            });  
        }
    }
    
}
</script>

<style scoped>
.handle {
  float: left;
  margin-right: 1rem;
  cursor: pointer;
}

.sortable-title{
    justify-content: space-between;
    margin-bottom:0.75rem;
}

.list{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #dbdbdb;
    border-left: 1px dashed #dbdbdb;
    border-radius: 0%;
}
</style>