<template>
    <div>
        <p class='sortable-title'>
            <b-icon class='handle' icon='align-justify' size='is-small'/>
            {{course.title}}
            <span class='is-pulled-right'>
                <b-button
                    type="is-success"
                    :outlined='!(course != null && course.order!=-1)'
                    size='is-small'
                    rounded
                    :icon-right="(course != null && course.order!=-1)?'eye':'eye-slash'"
                    @click="course.order = (course.order>-1)?-1:1"
                    title='Visibilité'
                />
                <b-button type="is-warning" size='is-small' rounded icon-right="edit" tag="router-link" :to="{name:'aEForm', params:{'typeForm':'course', 'obj':course}}" title='Éditer'/>
                <b-button type="is-danger" size='is-small' rounded icon-right="times" @click="confirm(course)" title='Supprimer'/>
                <b-button size='is-small' rounded :icon-right="open?'chevron-up':'chevron-down'" @click='open=!open' :title='open?"Réduire":"Développer"'/>
            </span>
        </p>
        <div v-if='open'>
            <draggable class="list list-group" group='exercises' draggable=".item" :list="course.exercises" @start="drag=true" @end="drag=false" handle=".handle">
                <AEExercises class='list-item item' v-for="exercise in course.exercises" :key="exercise.id" :exercise='exercise'/>
                <div class='list-item' slot="footer" role='group' key='footer'>
                    <b-button type="is-primary" size='is-small' rounded icon-right="plus" title='Ajouter un exercice' tag="router-link" :to="{name:'aEForm', params:{'typeForm':'exercise', 'parentID':course.id}}"/>
                </div>
            </draggable>
        </div>
    </div>
</template>
<script>
import draggable from 'vuedraggable'
import AEExercises from './AEExercises'

export default {

    components:{
        draggable,
        AEExercises
    },

    data(){
        return{
            open:false
        };
    },

    props:{
        course:{
            type: Object,
            default: null
        }
    },

    methods:{
        confirm(object){
          this.$buefy.dialog.confirm({
                title: 'Suppression d\'un cours',
                message: 'Voulez vous vraiment <b>supprimer</b> le cours <b>'+object.title+'</b> ainsi que ses exercices?<br/><br/>Cette action est irréversible.',
                cancelText: 'Annuler',
                confirmText: 'Supprimer le cours',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () =>  this.$store.dispatch('chapters/deleteCourse', object).then(() => {
                    this.$buefy.toast.open(`Le cours ${object.title} a bien été supprimé !`);
                    this.$store.dispatch('chapters/getAllChapters');
                }).catch(error => {
                    console.log(error);
                })
            })  
        }
    }
    
}
</script>

<style scoped>
.handle {
  float: left;
  margin-right: 1rem;
  cursor: pointer;
}

.sortable-title{
    justify-content: space-between;
    margin-bottom:0.75rem;
}

.list{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #dbdbdb;
    border-left: 1px dashed #dbdbdb;
    border-radius: 0%;
}
.list-item{
    padding-right: 0;
}
</style>