<template>
    <div>
        <p class='sortable-title'>
            <b-icon class='handle' icon='align-justify' size='is-small'/>
            {{exercise.title}}
            <span class='is-pulled-right'>
                <b-button
                    type="is-success"
                    :outlined='!(exercise != null && exercise.order!=-1)'
                    size='is-small'
                    rounded
                    :icon-right="(exercise != null && exercise.order!=-1)?'eye':'eye-slash'"
                    @click="exercise.order = (exercise.order>-1)?-1:1"
                    title='Visibilité'
                />
                <b-button type="is-warning" size='is-small' rounded icon-right="edit" tag="router-link" :to="{name:'aEForm', params:{'typeForm':'exercise', 'obj':exercise}}" title='Éditer'/>
                <b-button type="is-danger" size='is-small' rounded icon-right="times" @click="confirm(exercise)" title='Supprimer'/>
            </span>
        </p>
    </div>
</template>
<script>
export default {

    data(){
        return{
            visible:(this.exercise != null && this.exercise.order!=-1)
        };
    },

    props:{
        exercise:{
            type: Object,
            default: null
        }
    },

    methods:{
        confirm(object){
          this.$buefy.dialog.confirm({
                title: 'Suppression d\'un exercice',
                message: 'Voulez vous vraiment <b>supprimer</b> l\'exercice <b>'+object.title+'</b>?<br/><br/>Cette action est irréversible.',
                cancelText: 'Annuler',
                confirmText: 'Supprimer l\'exercice',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => this.$store.dispatch('chapters/deleteExercise', object).then(() => {
                    this.$buefy.toast.open(`L'exercise ${object.title} a bien été supprimé !`);
                    this.$store.dispatch('chapters/getAllChapters');
                })
            })  
        }
    }
    
}
</script>

<style scoped>
.handle {
  float: left;
  margin-right: 1rem;
  cursor: pointer;
}

.sortable-title{
    justify-content: space-between;
    margin-bottom:0.75rem;
}
</style>