<template>
    <div>
        <p class='sortable-title'>
            {{(promo==1)?'Administrateurs':'Promo ' +promo}}
            <span class='is-pulled-right'>
                <b-button type="is-primary" size='is-small' rounded icon-right="plus" title='Ajouter un utilisateur à cette promotion' tag="router-link" :to="{name:'aUForm',params:{promo: promo}}"/>
                <b-button v-if='promo!=1' type="is-danger" size='is-small' rounded icon-right="times" @click="confirm(promo)" title='Supprimer'/>
                <b-button size='is-small' rounded :icon-right="open?'chevron-up':'chevron-down'" @click='open=!open' :title='open?"Réduire":"Développer"'/>
            </span>
        </p>
        <div v-if='open'>
            <div class="list">
                <AUUsers class='list-item' v-for="user in users" :key="user.name" :user='user' @reload='reload()'/>
            </div>
        </div>
    </div>
</template>
<script>
import AUUsers from './AUUsers'
import {getAllUsersFromPromo} from '@/services/user'
import {deletePromo} from '@/services/user'

export default {
    components:{
        AUUsers
    },

    data(){
        return{
            open:false,
            users:null
        };
    },

    props:{
        promo: Number
    },

    methods:{
        getAllUsersFromPromo: function(promo){
            getAllUsersFromPromo(promo).then(res => {
                this.users = res.users;
            }).catch(error => {
                throw new Error(error);
            });
        },

        reload(){
            this.$emit('reload');
        },

        confirm(object){
          this.$buefy.dialog.confirm({
                title: 'Suppression d\'une promotion',
                message: 'Voulez vous vraiment <b>supprimer</b> la <b>promotion '+object+'</b> ainsi que tout les étudiants qui la compose ?<br/><br/>Cette action est irréversible.',
                cancelText: 'Annuler',
                confirmText: 'Supprimer la promotion',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () =>  deletePromo(object).then(() => {
                    this.$buefy.toast.open(`La promotion ${object} a bien été supprimé !`);
                    this.reload();
                }).catch(error => {
                    console.log(error);
                })
            })  
        }
    },

    created(){
        this.getAllUsersFromPromo(this.promo);
    }
    
}
</script>

<style scoped>
.handle {
  float: left;
  margin-right: 1rem;
  cursor: pointer;
}

.sortable-title{
    justify-content: space-between;
    margin-bottom:0.75rem;
}

.list{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #dbdbdb;
    border-left: 1px dashed #dbdbdb;
    border-radius: 0%;
}
</style>