<template>
    <div>
            <div class='columns is-centered'>
                <div class='column is-3'>
                    {{user.id}}
                </div>
                <div class='column is-3'>
                    {{user.name}}
                </div>
                <div class='column is-3'>
                    {{user.type == 0 ? 'Élève' : 'Professeur'}}
                </div>
                <div class='column is-3'>
                    <b-button type="is-primary" size='is-small' rounded icon-right="search" tag="router-link" :to="{name:'profil', params:{userPassed:user}}"  title='Consulter le profil'/>
                    <b-button type="is-warning" size='is-small' rounded icon-right="key" tag="router-link" :to="{name:'passwordForm', params:{'user':user}}" title='Changer le mot de passe'/>
                    <b-button type="is-danger" size='is-small' rounded icon-right="times" @click="confirm(user)" title='Supprimer'/>
                </div>   
            </div>
    </div>
</template>
<script>

import {deleteUser} from '@/services/user'

export default {
    props:{
        user:{
            type: Object,
            default: null
        }
    },
    methods:{
        confirm(object){
          this.$buefy.dialog.confirm({
                title: 'Suppression d\'un utilisateur',
                message: 'Voulez vous vraiment <b>supprimer</b> l\'utilisateur <b><i>'+object.id+'</i> : '+object.name+'</b> ?<br/><br/>Cette action est irréversible.',
                cancelText: 'Annuler',
                confirmText: 'Supprimer l\'utilisateur',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () =>  deleteUser(object).then(() => {
                    this.$buefy.toast.open(`L'utilisateur ${object.id} a bien été supprimé !`);
                    this.$emit('reload');
                }).catch(error => {
                    console.log(error);
                })
            })  
        }
    }
}
</script>

<style scoped>
.handle {
  float: left;
  margin-right: 1rem;
  cursor: pointer;
}

.sortable-title{
    justify-content: space-between;
    margin-bottom:0.75rem;
}

.list{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #dbdbdb;
    border-left: 1px dashed #dbdbdb;
    border-radius: 0%;
}
</style>