<template>
    <div>
        <h1 class="title is-1">{{chapter?'Édition':'Création'}} de chapitre</h1>
        <form @submit.prevent="validateBeforeSubmit">
            <b-field label="Titre du chapitre" label-position="on-border">
                <b-input v-model='newChapter.title' placeholder='Insérer le titre du chapitre...'></b-input>
            </b-field>

            <b-message type="is-danger" v-if="errorMessage">
                {{errorMessage}}
            </b-message>

            <b-field>
                <div class='buttons'>
                    <b-button type='is-danger' tag="router-link" :to="{name:'adminExercises'}" outlined>
                        Annuler
                    </b-button> 
                    <button type="submit" class="button is-primary">
                        {{chapter?'Modifier':'Créer'}}
                    </button>
                </div>
            </b-field>
        </form>
    </div>
</template>
<script>

import ChapterAPI from '@/services/chapters'
export default {
    props:{
        chapter:{
            type:Object,
            default: null
        }
    },

    data(){
        return{
            newChapter:{
                title: (this.chapter ? this.chapter.title : ''),
                id: (this.chapter ? this.chapter.id : 0),
                order: (this.chapter ? this.chapter.order : -1)
            },
            errorMessage: null
        };
    },

    methods:{
        validateBeforeSubmit(){
            if(this.newChapter.title != ""){
                if(this.chapter){
                    this.edit();
                } else {
                    this.create();
                }
            } else {
                this.errorMessage = "Le titre du chapitre doit être renseigné. Merci de le renseigner avant de réessayer."
            }

        },
        edit(){
            ChapterAPI.updateChapter(this.newChapter).then(() => {
                this.$buefy.toast.open(`Le chapitre a bien été modifié !`);
                setTimeout(() =>
                    this.$router.push("/administration/exercises/").catch(() => {})
                , 2000);
            }).catch(error => {
                throw new Error(error);
            });        
        },

        create(){
            ChapterAPI.addChapter(this.newChapter).then(() => {
                this.$buefy.toast.open(`Le chapitre ${this.newChapter.title} a bien été ajouté !`);
                this.$router.push("/administration/exercises/").catch(() => {});
            }).catch(error => {
                throw new Error(error);
            });
        }
    }
}
</script>