<template>
    <div>
        <h1 class="title is-1">{{course?'Édition':'Création'}} de cours</h1>
        <form @submit.prevent="validateBeforeSubmit">
            <b-field label="Titre du cours" label-position="on-border">
                <b-input v-model='newCourse.title' placeholder='Insérer le titre du cours...'></b-input>
            </b-field>

            <p class="title is-6">Contenu du cours</p>
            <b-field class='uploadSection'>

                <b-field>
                    <b-upload v-model="file" drag-drop @input="loadOverview()" accept="application/pdf">
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>
                                    <b-icon icon="upload" size="is-large"/>
                                </p>
                                <p>Glissez le fichier ici ou cliquez pour téléverser (PDF seulement)</p>
                            </div>
                        </section>
                    </b-upload>
                </b-field>

                <b-field label="Aperçu" label-position="on-border" class='overview'>
                    <embed v-if='newCourse.content' :src="newCourse.content + '#toolbar=0&navpanes=0&scrollbar=0&view=FitV'" width="100%" style='height:100%;' type='application/pdf'/>
                </b-field>

            </b-field>
            

            <div class="tags">
                <span class="tag is-primary" v-if='file'>
                    {{file.name}}
                    <button class="delete is-small" type="button" @click="deleteDropFile()" />
                </span>
            </div>

            <div class="tags">
            </div>

            <b-message type="is-danger" v-if="errorMessage">
                {{errorMessage}}
            </b-message>

            <b-field>
                <div class='buttons'>
                    <b-button type='is-danger' tag="router-link" :to="{name:'adminExercises'}" outlined>
                        Annuler
                    </b-button> 
                    <button type="submit" class="button is-primary">
                        {{course?'Modifier':'Créer'}}
                    </button>
                </div>
            </b-field>
        </form>
    </div>
</template>
<script>
import CourseAPI from '@/services/courses'

export default {
    props:{
        course:{
            type:Object,
            default: null
        },
        parentID:{
            type:Number,
            default:0
        }
    },

    data(){
        return{

            file: null,
            errorMessage: null,
            newCourse:{
                id: (this.course ? this.course.id : 0),
                idChapter:( this.course? this.course.idChapter : this.parentID ),
                title: ( this.course ? this.course.title : ''),
                content: ( this.course ? this.course.content : ''),
                order: ( this.course ? this.course.order : -1)
            }
        };
    },
    mounted(){
        if(this.course)
            this.loadFile();
    },

    methods:{
        validateBeforeSubmit(){
            if(this.newCourse.title != "" && this.file != undefined){
                if(this.course){
                    this.edit();
                } else {
                    this.create();
                }
            } else {
                this.errorMessage = "Tous les champs sont obligatoires ! Merci de renseigner tous les champs avant de réessayer."
            }

        },
        edit(){
            let payload = {
                course: this.newCourse,
                hasNewContent: (this.course.content != this.newCourse.content),
                file: this.file
            };
            payload.course.content = this.course.content;
            CourseAPI.updateCourse(payload.course, payload.hasNewContent, payload.file).then(() => {
                this.$buefy.toast.open(`Le cours a bien été modifié ! Vous allez être redirigé.`);
                setTimeout(() =>
                    this.$router.push("/administration/exercises/").catch(() => {})
                , 2000);
            }).catch(error => {
                throw new Error(error);
            });        
        },

        create(){
            let payload = {
                course: this.newCourse,
                file: this.file
            };
            CourseAPI.addCourse(payload.course, payload.file).then(() => {
                this.$buefy.toast.open(`Le cours ${this.newCourse.title} a bien été ajouté ! Vous allez être redirigé.`);
                setTimeout(() =>
                    this.$router.push("/administration/exercises/").catch(() => {})
                , 2000);
            }).catch(error => {
                throw new Error(error);
            });
        },

        loadOverview(){
            window.URL = window.URL || window.webkitURL;
            this.newCourse.content = window.URL.createObjectURL(this.file) 
        },

        deleteDropFile(){
            this.file = null;
            this.newCourse.content = null;
        },

        loadFile(){
            let url = this.course.content;
            this.file = {name: url.substring(url.lastIndexOf('/')+1) };
        }
    }
}
</script>

<style scoped>
.uploadSection{
    width: 100%;
}

.overview{
    width: 100%;
    margin-bottom: 0.75rem;
}
</style>