<template>
    <div>
        <h1 class="title is-1 has-text-centered">{{exercise ? 'Édition' : 'Création' }} d'exercice</h1>

        <form @submit.prevent="validateBeforeSubmit">
            <b-steps>
                <b-step-item label="Informations" icon="info">
                    <b-field label="Titre de l'exercice" label-position="on-border">
                        <b-input v-model='newExercise.title' placeholder="Insérer le titre de l'exercice..."></b-input>
                    </b-field>

                    <b-field label="Énoncé de l'exercice" label-position="on-border" type="textarea">
                        <quill-editor 
                            v-model="newExercise.instruction"
                            ref="quillInstruction"
                            :options="editorOptions"
                        />
                    </b-field>
                    <p class="is-size-7 has-text-weight-bold">Dépendances de l'exercices :</p>
                    <p>
                        Il est obligatoire de renseigner toutes les dépendances. L'élève ne pourra pas en rajouter lui-même.
                    </p>
                    <Monaco class="card field monaco-dep"
                        :monacoId='"dep"'    
                        :value="newExercise.dependency"
                        :language='"c"'
                        :readOnly='false'
                        :changeThrottle=500
                        :key="newExercise.dependency"
                        @codeChange="updateDependency"
                    />
                </b-step-item>
                <b-step-item label="Code" icon="code">
                    <div>
                        <p class="is-size-7 has-text-weight-bold">Correction de l'exercice :</p>
                        <p class="has-text-justified">
                            La correction de l'exercice doit être fonctionnelle. Elle sera utilisée afin de valider les jeux de tests de l'exercice.
                        </p>
                        <Monaco class="card monaco-cor"
                            :monacoId='"cor"'
                            :value="newExercise.correction"
                            :language='"c"'
                            :readOnly='false'
                            :changeThrottle=500
                            :key="newExercise.correction"
                            @codeChange="updateCorrection"
                        />
                    </div>
                    <div>
                        <p class="is-size-7 has-text-weight-bold">Main de l'exercice :</p>
                        <p class="has-text-justified">
                            Cet éditeur de code contient le main de votre exercice. Il sera utilisé pour les tests.
                            N'oubliez pas d'utiliser des fonctions comme <code>atoi</code> pour transformer des chaînes de caractères en entier.
                            En effet, nous utiliserons les arguments de votre exécutable afin de lancer des jeux de tests.
                        </p>
                        <Monaco class="monaco-main card"
                            :monacoId='"main"'
                            :value="newExercise.main"
                            :language='"c"'
                            :readOnly='false'
                            :changeThrottle=500
                            :key="newExercise.main"
                            @codeChange="updateMain"
                        />
                    </div>
                </b-step-item>
                <b-step-item label="Tests" icon="cogs">
                    <div class="columns">
                        <div class="column is-10 is-offset-1">
                            <b-table :data="newExercise.testSet">  
                                <template slot-scope="props">  
                                    <b-table-column field="input" label="Entrée" width="300">
                                        <b-input v-model="props.row.input" placeholder="Valeur d'entrée..."/>
                                    </b-table-column>  
                                    <b-table-column field="output" label="Sortie" width="300">{{props.row.output}}</b-table-column>  
                                    <b-table-column field="actions" label="Actions">  
                                        <b-button @click="removeTest(props.row.id)" type="is-danger" icon-right="trash" v-if="newExercise.testSet.length > 1"></b-button>  
                                    </b-table-column>  
                                </template>  
                            </b-table>
                        </div>
                    </div>
                    <div class="columns">
                        <div v-if="output" class="column is-three-fifths is-offset-one-fifth box">
                            <Output :output="output" :key="newExercise.id" class=" is-family-monospace"></Output>
                        </div>
                    </div>
                    <div class="buttons is-centered">
                            <b-button type="is-warning" :loading="loading" @click="runTest()">Lancer les tests</b-button>
                            <b-button type="is-success"
                                icon-right="plus" class="is-left" @click="addTest()"/>
                    </div>
                    <div class="columns">
                        <div class="column is-three-fifths is-offset-one-fifth">
                            <b-message type="is-danger" v-if="errorCompilationMessage">
                                {{errorCompilationMessage}}
                            </b-message>
                        </div>
                    </div>
                    <div class="buttons is-centered">
                        <b-button type="is-primary" :disabled="!compiled" @click="validate()">
                            Valider les tests
                        </b-button>
                    </div>
                </b-step-item>
                <b-step-item label="Récapitulatif" icon="money-check" :visible="isValidated">
                    <h2 class="title is-size-4 has-text-centered">{{newExercise.title}}</h2>
                    <div class="ql-container ql-editor" v-html="newExercise.instruction">
                        {{newExercise.instruction}}
                    </div>
                    <Monaco class="card monaco-recap"
                        :monacoId="recap"    
                        :value="recap"
                        :language='"c"'
                        :readOnly='true'
                        :changeThrottle=500
                        key="recap"
                        v-if="recap"
                    />
                    <b-table :data="newExercise.testSet" :columns="columns"></b-table>
                    <div class="columns">
                        <div class="column is-three-fifths is-offset-one-fifth">
                            <b-message type="is-danger" v-if="errorMessage">
                                {{errorMessage}}
                            </b-message>
                        </div>
                    </div>
                    <div class="buttons is-centered">
                        <button type="submit" class="button is-primary" :disabled="!compiled">
                            {{exercise?'Modifier':'Créer'}}
                        </button>
                    </div>
                </b-step-item>
            </b-steps>
            <div class="buttons is-centered">
                <b-button type='is-danger' tag="router-link" :to="{name:'adminExercises'}" outlined>
                    Annuler
                </b-button> 
            </div>
        </form>
        
    </div>
</template>
<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'katex/dist/katex.min.css';

import katex from 'katex'
import Monaco from '../Code/Monaco'
import Output from '../Code/CodeOutput'
import { quillEditor } from 'vue-quill-editor'
import {runTest} from '@/services/compiler'
import ExerciseAPI from '@/services/exercises'

export default {
    props:{
        exercise:{
            type:Object,
            default: null
        },
        parentID:{
            type:Number,
            default:0
        }
    },
    data(){
        return{
            newExercise: {
                title: (this.exercise ? this.exercise.title : ''),
                id: (this.exercise ? this.exercise.id : 0),
                idCourse: (this.exercise? this.exercise.idCourse : this.parentID),
                type: (this.exercise? this.exercise.type : 1),
                order: (this.exercise ? this.exercise.order : -1),
                instruction: (this.exercise ? this.exercise.instruction : ""),
                dependency: (this.exercise ? this.exercise.dependency : "#include <stdio.h>\n#include <stdlib.h>\n"),
                correction: (this.exercise ? this.exercise.correction : ""),
                main: (this.exercise ? this.exercise.main : "int main(int argc, char* argv[]){\n\treturn 0;\n}"),
                testSet: (this.exercise ? this.exercise.testSet : [{id: 1, input: null, output: null, expected: null}])
            },
            currentCorrection: this.exercise ? this.exercise.correction : "",
            currentDependency: this.exercise ? this.exercise.dependency : "#include <stdio.h>\n#include <stdlib.h>\n",
            currentMain: this.exercise ? this.exercise.main : "int main(int argc, char* argv[]){\n\treturn 0;\n}",
            compiled: false,
            output: null,
            loading: false,
            isValidated: false,
            errorCompilationMessage: null,
            errorMessage: null,
            recap: null,
            editorOptions: {
                placeholder: "Insérer un énoncé ici...",
                modules: {
                    toolbar: [
                        ["bold", "italic", "underline", "strike"],
                        ['blockquote', 'code'],
                        [{ list: "ordered" }, { list: "bullet" }],
                        [{ 'script': 'sub'}, { 'script': 'super' }],
                        [{ color: [] }, { background: [] }],
                        [{ align: [] }],
                        [{ 'font': [] }],
                        ["formula", 'link']
                    ]
                }
            },
            editor2Options: {
                theme: false,
                modules: {
                    toolbar: false
                }
            },
            columns: [
                {
                    field: 'input',
                    label: 'Entrée',
                },
                {
                    field: 'output',
                    label: 'Sortie',
                }
            ]
        };
    },
    mounted(){
        window.katex = katex;
    },
    methods: {
        validateBeforeSubmit(){
            this.errorMessage = null;
            if(this.newExercise.title != "" && this.newExercise.type != "" && this.newExercise.instruction != "" && this.compiled == true){
                let testSet = [];
                this.newExercise.testSet.forEach(test => {
                    testSet.push({input: test.input,expected: test.output});
                })
                let exercise = this.newExercise;
                exercise.testSet = testSet;
                if(this.exercise){
                    this.edit(exercise);
                } else {
                    this.create(exercise);
                }
            } else {
                this.errorMessage = "Merci de renseigner tous les champs avant de réessayer."
            }
        },
        addTest(){
            this.compiled = false;
            let testSet = this.newExercise.testSet;
            let id = testSet.length > 0 ? testSet[testSet.length - 1].id  + 1 : 1;
            this.newExercise.testSet.push({id: id, input: null});
        },
        removeTest(id){
            let index = this.newExercise.testSet.findIndex(element => element.id == id);
            this.newExercise.testSet.splice(index, 1);
        },
        runTest(){
            this.errorCompilationMessage = null;
            this.newExercise.correction = this.currentCorrection;
            this.newExercise.dependency = this.currentDependency;
            this.newExercise.main = this.currentMain;
            
            // We need to reset the content of the Monaco to rerender it
            this.recap = null;
            
            let testsAreNull = (this.newExercise.testSet.length == 0);
            this.newExercise.testSet.forEach(function(test){
                testsAreNull = Boolean(testsAreNull + (test.input == null));   
            });
            
            if(!testsAreNull){  
                this.loading = true;
                this.isValidated = false;  
                runTest(this.newExercise).then(result =>{
                    if(result.success && result.compiled == true){
                        this.compiled = true;
                        this.output = null;
                        this.newExercise.testSet = result.testSet;
                    } else if (result.compiled == false){
                        this.compiled = false;
                        this.output = result;
                    }
                }).catch(() =>{
                    this.errorCompilationMessage = "Pour pouvoir lancer les tests, il faut que les dépendances, la correction et le main soient remplis.";
                }).finally(() => this.loading = false);
            } else {
                this.errorCompilationMessage = "Certaines entrées de vos tests sont vides ou vous n'avez pas de test.";
            }
        },
        create(exercise){
            ExerciseAPI.addExercise(exercise).then(() => {
                this.$buefy.toast.open(`L'exercice ${this.newExercise.title} a bien été ajouté !`);
                this.$router.push("/administration/exercises/").catch(() => {});
            }).catch(error => {
                throw new Error(error);
            });
        },
        edit(exercise){
            ExerciseAPI.updateExercise(exercise).then(() => {
                this.$buefy.toast.open(`L'exercice ${this.newExercise.title} a bien été modifié !`);
                setTimeout(() =>
                    this.$router.push("/administration/exercises/").catch(() => {})
                , 2000);
            }).catch(error => {
                throw new Error(error);
            });
        },
        updateCorrection(editor){ 
            this.compiled = false;
            this.isValidated = false;
            this.currentCorrection = editor.getValue();
        },
        updateMain(editor){
            this.compiled = false;
            this.isValidated = false;  
            this.currentMain = editor.getValue();
        },
        updateDependency(editor){
            this.compiled = false;
            this.isValidated = false;  
            this.currentDependency = editor.getValue();
        },
        validate(){
            this.errorCompilationMessage = null;
            if(this.newExercise.title && this.newExercise.instruction) {
                this.recap = `${this.newExercise.dependency}\n\n${this.newExercise.correction}\n\n${this.newExercise.main}`;
                this.isValidated = true;
            } else {
                this.errorCompilationMessage = "Vous devez renseigner un titre et des instructions avant de pouvoir poursuivre."
            }
        },
    },
    components: {
        quillEditor,
        Monaco,
        Output
    }
}
</script>

<style scoped>
.monaco-dep{
    min-height: 15vh;
    max-height: 15vh;
    height: 15vh;
    padding:0;
    overflow: hidden;
}

.monaco-cor{
    width: auto;
    min-height: 30vh;
    max-height: 30vh;
    height: 30vh;
    padding:0;
    overflow: hidden;
    margin-bottom: 1vh;
}

.monaco-main{
    width: auto;
    min-height: 50vh;
    max-height: 50vh;
    height: 50vh;
    padding:0;
    overflow: hidden;
}

.monaco-recap{
    width: auto;
    min-height: 70vh;
    max-height: 70vh;
    height: 70vh;
    padding-bottom: 1rem;
    overflow: hidden;
}
</style>