<template>
    <div class='columns is-centered'>
        <div class='column is-half' v-if='chapters'>
            <div v-if='chapters.length == 0'>Pas de chapitre</div>
            <b-button class='save-button' v-else icon-left="save" type="is-dark" expanded @click="save()">Sauvegarder les modifications</b-button>
            <draggable class="list list-group" group='chapters' draggable=".item" v-model="chapters" @start="drag=true" @end="drag=false" handle=".handle">
                <AEChapters class='list-item item' v-for="chapter in chapters" :key="chapter.id" :chapter='chapter'/>
                <div class='list-item' slot="footer" role='group' key='footer'>
                    <b-button type="is-primary" size='is-small' rounded icon-right="plus" title='Ajouter un chapitre' tag="router-link" :to="{name:'aEForm', params:{'typeForm':'chapter'}}"/>
                </div>
            </draggable>
            <b-button v-if='chapters.length > 0' icon-left="save" type="is-dark" expanded @click="save()">Sauvegarder les modifications</b-button>
        </div>
    </div>
</template>

<script>
import draggable from 'vuedraggable'
import AEChapters from './AEChapters'
import { mapState } from 'vuex'
import ChapterAPI from '@/services/chapters'
import CourseAPI from '@/services/courses'
import ExerciseAPI from '@/services/exercises'
import cloneDeep from 'lodash.clonedeep'

export default {
    components:{
        draggable,
        AEChapters
    },

    data(){
        return{
            chapters:null
        };
    },

    computed: mapState({
        oldChapters: state => state.chapters.allChapters
    }),

    watch: {
        oldChapters: function(chapters){
            this.chapters = cloneDeep(chapters);
        }
    },
    created (){
        this.$store.dispatch('chapters/getAllChapters');
    },

    methods:{
        save(){
            let that = this;
            this.chapters=this.chapters.map(function(value,index){return that.reOrder(value, index, 0, that)});

            let chaptersToUpdate = [];
            let coursesToUpdate = [];
            let exercisesToUpdate = [];

            let chapters = cloneDeep(this.chapters);
            let oldChapters = cloneDeep(this.oldChapters);
            chaptersToUpdate = chapters.filter(that.compare(oldChapters)).map(
                function(chapter){ delete chapter.courses; return chapter}
            );

            chapters.forEach(function(chapter){
                let id = chapter.id;
                let oldChapter = oldChapters.find(c => c.id ===id);
                let oldCourses = (oldChapter.courses != null)?oldChapter.courses:[];
                let courses = (chapter.courses != null)?chapter.courses:[];
                    coursesToUpdate = coursesToUpdate.concat(
                    courses.filter(that.compare(oldCourses)).map(
                        function(course){ delete course.exercises; return course}
                    )
                );
                
                courses.forEach(function(course){
                    let id = course.id;
                    let oldCourse = oldCourses.find(c => c.id ===id);
                    let oldExercises = (oldCourse.exercises != null)?oldCourse.exercises:[];
                    let exercises = (course.exercises != null)?course.exercises:[];

                    exercisesToUpdate = exercisesToUpdate.concat(
                    exercises.filter(that.compare(oldExercises)).map(
                        function(exercise){ return exercise}
                    )
                    );
                });
            
            });

            chaptersToUpdate.forEach(function(chapter){
                ChapterAPI.updateChapter(chapter).then(() => {
                }).catch(error => {
                    throw new Error(error);
                });
            });

            coursesToUpdate.forEach(function(course){
                CourseAPI.updateCourse(course).then(() => {
                }).catch(error => {
                    throw new Error(error);
                });
            });

            exercisesToUpdate.forEach(function(exercise){
                ExerciseAPI.updateExercise(exercise).then(() => {
                }).catch(error => {
                    throw new Error(error);
                });
            });

            this.$buefy.toast.open('Changements sauvegardés.')

            this.$forceUpdate(); 

            /*this.$store.dispatch('chapters/getAllChapters');
            this.chapters = [...this.oldChapters];*/

        },

        reOrder(value, index, parentID, that){
            if(value.order != -1)
                value.order = (index+1);
            if(value.courses){
                let id = value.id;
                value.courses = value.courses.map(function(value,index){return that.reOrder(value, index, id, that)});
            }
            if(value.exercises){
                let id = value.id;
                value.exercises = value.exercises.map(function(value,index){return that.reOrder(value, index, id, that)});
            }
            if(value.idChapter)
                value.idChapter = parentID;
            if(value.idCourse)
                value.idCourse = parentID; 
            return value;
        },

        compare(old){
            return function(current){
                return old.filter(function(other){
                    if(current.idChapter) return other.order == current.order && other.id == current.id && other.idChapter == current.idChapter;
                
                if(current.idCourse) return other.order == current.order && other.id == current.id && other.idCourse == current.idCourse;
                
                return other.order == current.order && other.id == current.id;
                }).length == 0;
            };
        }
    }
}
</script>

<style scoped>
.save-button{
    margin-bottom:1.5rem;
}
</style>