<template>
    <div class='has-text-centered'>
        <h1 class="title is-1">Changement de mot de passe</h1> <h3 class="subtitle is-3">de l'utilisateur <i>{{user.id}}</i> : {{user.name}}</h3>
        <form @submit.prevent="validateBeforeSubmit">

            <div class='columns is-centered'>
                <div class="column is-one-third has-text-centered">
                    <b-field v-if='user.type==1' label="Nouveau mot de passe" label-position="on-border">
                        <b-input type="password" v-model='newUser.password' placeholder='Insérer le mot de passe...' password-reveal></b-input>
                    </b-field>

                    <b-message type="is-danger" v-if="errorMessage">
                        {{errorMessage}}
                    </b-message>

                    
                    <div v-if="isLogVisible && userReturn" class='box'>
                        <div id='userReturn' class='logItem'>
                            <p class='subtitle'>
                                Utilisateur modifié
                                <span class='is-pulled-right'>
                                    <b-button
                                        type="is-warning"
                                        size='is-small'
                                        rounded icon-right="copy"
                                        @click="copy('userReturn')"
                                        title='Copier dans le presse papier'
                                    />
                                </span>
                            </p>

                            <table class="table is-striped is-fullwidth">
                                <thead>
                                    <th>Identifiant</th>
                                    <th>Nom</th>
                                    <th>Mot de passe</th>
                                </thead>
                                <tr/>
                                <tr>
                                    <td>{{userReturn.id}}</td>
                                    <td>{{userReturn.name}}</td>
                                    <td>{{userReturn.password}}</td>
                                </tr>
                            </table>
                        </div>
                        <b-button type="is-success" expanded @click='download' icon-left="download" icon-right="download">Télécharger les identifiants</b-button>
                    </div>
                </div>
            </div>

            <b-field>
                <div class=''>
                    <b-button type='is-danger' tag="router-link" :to="{name:'adminExercises'}" outlined>
                        Retour
                    </b-button> 
                    <button type="submit" class="button is-primary">
                        Changer le mot de passe
                    </button>
                </div>
            </b-field>
        </form>
    </div>
</template>
<script>
import moment from 'moment';
import jsPDF from 'jspdf';
import {updateUser} from '@/services/user'

export default {
    props:{
        user:{
            type:Object,
            default: null
        }
    },

    data(){
        return{
            newUser:{
                id: (this.user ? this.user.id : 0),
                name: (this.user ? this.user.name : ''),
                promo: (this.user ? this.user.promo : moment().year()),
                type: (this.user ? this.user.type : 0),
                password: ''
            },
            errorMessage: null,
            isLogVisible: false,
            userReturn: null
        };
    },

    methods:{
        validateBeforeSubmit(){
            if(this.newUser.type == 1 && this.newUser.password == ""){
                this.errorMessage = "Un mot de passe doit être renseigné."
            } else {
                this.$buefy.dialog.confirm({
                    title: 'Modification du mot de passe',
                    message: 'Voulez vous vraiment <b>changer le mot de passe</b> l\'utilisateur <b><i>'+this.newUser.id+'</i> : '+this.newUser.name+'</b> ?<br/><br/>Cette action est irréversible.',
                    cancelText: 'Annuler',
                    confirmText: 'Changer le mot de passe',
                    type: 'is-warning',
                    hasIcon: true,
                    onConfirm: () => this.update()
                });
            }

        },
        update(){
            updateUser(this.newUser).then(output => {
                this.isLogVisible = true;
                this.userReturn = output.user;
                if(this.userReturn.type == 1) this.userReturn.password = '******';
            }).catch(error => {
                throw new Error(error);
            });        
        },
        copy(key){
            let text = document.getElementById(key).innerText;
            navigator.clipboard.writeText(text);
            this.$buefy.toast.open(`Informations copiées dans le presse papier`);
        },
        download(){
            let pdfName = 'C-Easy - Comptes ' + moment().format('DD-MM-YYYY HH:mm'); 
            let doc = new jsPDF('a4');
            doc.setProperties({
                title: 'C-Easy - Comptes',
                subject: 'Users login',		
                author: 'C-Easy Team'
            });

            doc.setFontSize(22);
            doc.setFontType("bold");	
            doc.text(20, 20, 'Utilisateur modifié');
            doc.setFontSize(14);
            doc.text(20, 40, 'Identifiant');
            doc.text(60, 40, 'Nom');
            doc.text(148, 40, 'Mot de passe');

            doc.setFontSize(12);
            doc.setFontType("");
            
            doc.text(20, 48, this.userReturn.id+' ');
            doc.text(60, 48, this.userReturn.name+' ');
            doc.text(148, 48, this.userReturn.password+' ');
            doc.setLineWidth(0.1);
            doc.line(20, 50, 180, 50);

            doc.save(pdfName + '.pdf');
        }
    }
}
</script>