<template>
    <div id='StatsPage' class="has-text-centered">
        <div class="columns is-multiline is-centered">
            <div class="column is-4">
                <div class="box">
                    <header>
                        <p>Nombre d'essais moyen par exercice {{this.chartMode == "Total" ? "" : "par promotion"}}</p>
                    </header>
                    <NumberChart v-if="meanTryCollection" :chartdata="meanTryCollection"></NumberChart>
                </div>
            </div>
            <div class="column is-4">
                <div class="box">
                    <header>
                        <p>Temps de complétion moyen par exercice {{this.chartMode == "Total" ? "" : "par promotion"}}</p>
                    </header>
                    <TimeForCompletionChart v-if="meanTimeCollection" :chartdata="meanTimeCollection"></TimeForCompletionChart>
                </div>
            </div>
        </div>
        <div class="field">
            <b-switch @input="reloadCharts" v-model="chartMode"
                true-value="Promotion"
                false-value="Total">
                {{ chartMode }}
            </b-switch>
        </div>
    </div>
</template>
<script>
import NumberChart from "../Charts/NumberChart"
import TimeForCompletionChart from '../Charts/TimeForCompletionChart'
import {getAllDosFromPromo} from "@/services/do"
import {getAllPromos} from "@/services/user"


export default {
    name:'StatsPage',
    components: {
        TimeForCompletionChart,
        NumberChart
    },
    data() {
        return {
            meanTimeCollection:null,
            meanTryCollection:null,
            chartMode: "Total",
        }
    },
    computed:{

    },

    created(){
        this.getMeanCollection("completionTime").then(res => {
            this.meanTimeCollection = res;  
        }).catch(error => {
            throw new Error(error);
        });

        this.getMeanCollection("try").then(res => {
            this.meanTryCollection = res;  
        }).catch(error => {
            throw new Error(error);
        });
    },
    mounted(){

    },
    

    methods:{
        reloadCharts: function(){
            this.meanTimeCollection = null;  
            this.meanTryCollection = null;  
            this.getMeanCollection("completionTime").then(res => {
                this.meanTimeCollection = res;  
            }).catch(error => {
            throw new Error(error);
        });

        this.getMeanCollection("try").then(res => {
            this.meanTryCollection = res;  
        }).catch(error => {
            throw new Error(error);
        });

        },


        getMeanCollection : async function(type) {
            var promos = await getAllPromos();
            var dos = [];
            var map = new Map();
            promos = promos.promos;
            var resChart;

            if(this.chartMode == "Total") {
                resChart={
                    labels:[],
                    datasets:[{
                        borderColor: "#00adef",
                        fill:false,
                        data: []
                    }]
                }
                for (let i = 0; i < promos.length; i++) {
                    let dosPerPromo = await getAllDosFromPromo(promos[i]);
                    dosPerPromo = dosPerPromo.dos;
                    for (let j = 0; j < dosPerPromo.length; j++) {
                        dos = dos.concat(dosPerPromo[j])
                    }        
                }

                for (let i = 0; i < dos.length; i++) {
                    this.storeData(type,map,dos[i]);
                }
    
                for (let [key, value] of map.entries()) {
                    let avg = value.reduce((previous, current) => current += previous) /value.length;
                    resChart.labels.push(key);
                    resChart.datasets[0].data.push(avg);
                }
            }
            else{
                resChart={
                    labels:[],
                    datasets:[]
                }
                                    

                for (let i = 0; i < promos.length; i++) {
                    map.set(promos[i],new Map())
                    let dosPerPromo = await getAllDosFromPromo(promos[i]);
                    if(dosPerPromo.dos.length > 0){
                        dosPerPromo = dosPerPromo.dos[0];
                        for (let j = 0; j < dosPerPromo.length; j++) {
                            let d = dosPerPromo[j];
                            this.storeData(type,map.get(promos[i]),d)
                        }
                    }
                } 
                for (let [promo, mapExoDo] of map.entries()) {
                    let newDataset ={
                        label: "Promo "+ promo + " ",
                        borderColor: this.getRandomColor(),
                        fill:false,
                        data: []
                    }
                    for(let exoTitle of mapExoDo.keys()){
                        if(resChart.labels.indexOf(exoTitle) == -1){
                            resChart.labels.push(exoTitle);
                        }
                    }
                    for (let i = 0; i < resChart.labels.length; i++) {
                        newDataset.data.push(null);
                    }
                    for(let[exoTitle,doValues] of mapExoDo.entries()){
                        let placeExo = resChart.labels.indexOf(exoTitle);
                        let avg = doValues.reduce((previous, current) => current += previous) /doValues.length;
                        newDataset.data[placeExo] = avg;
                    }
                    resChart.datasets.push(newDataset);
                    
                }
                
                
            }


            return resChart;
        },

        storeData(type, map, d){
            let exercise = this.$store.getters['chapters/getExerciseById'](d.idExercise);
            switch (type) {
                case "completionTime":
                    if(d.completionTime) {
                        let dateCompletionTime = new Date(d.completionTime);
                        let dateStartTime = new Date(d.startTime);
                        let diff = Math.abs(Math.round((dateCompletionTime.getTime() - dateStartTime.getTime()) / 1000));
                        if(map.has(exercise.title)) map.get(exercise.title).push(diff)
                        else map.set(exercise.title,[diff])
                    }
                    break;
                case "try":
                    if(map.has(exercise.title)) map.get(exercise.title).push(d.try)
                    else map.set(exercise.title,[d.try])
                    break;
                default:
                    break;
            }
            
        },
        getRandomColor(){
            let letters = '0123456789ABCDEF'.split('');
            let color = '#';
            for (let i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    }
}
</script>