<template>
    <div class='columns is-centered'>
        <div class="column is-four-fifths">
            <h1 class="title is-1 has-text-centered">Création d'utilisateurs</h1>
            
            <div class='columns is-centered is-multiline'>
                <div class="column is-one-third">
                    <b-field class='buttons is-centered'>
                        <b-upload v-model="file" drag-drop accept=".csv" @input="read()">
                            <section class="section">
                                <div class="content has-text-centered">
                                    <p><b-icon icon="upload" size="is-large"></b-icon></p>
                                    <p>Importer un fichier CSV</p>
                                </div>
                            </section>
                        </b-upload>
                    </b-field>
                </div>
                <span class='has-text-centered column is-full'>
                        Le fichier CSV doit contenir une liste des utilisateurs sous la forme<br/>
                        <b>identifiant AMU, Prénom NOM, année de promotion</b>
                    </span>
            </div>
            <div class='columns is-multiline is-centered'>
                <div v-for="(elem,index) in nbStudents" v-bind:key="elem" class=' column is-one-third columnSep'>
                    <div>
                        <UserFormNewUser
                            :promo='promo'
                            @remove='nbStudents.splice(index, 1);'
                            @log='log'
                            :isAlone='(nbStudents.length == 1)'
                            :ref='elem'
                            :csv='{...userCSV[elem - (idComponentUser - nbStudents.length)]}'
                        />
                    </div>
                </div>
            </div>

            <div class='has-text-centered has-margin-bot'>
                <b-button @click="nbStudents.push(++idComponentUser)" type="is-primary" size='is-small' rounded icon-right="plus" title='Ajouter un utilisateur' />
            </div>

            <div class='columns is-centered'>
                <div class="column is-half has-text-centered">
                    <div v-if="isLogVisible" class='box'>
                        <div v-for='(value, key) in logContent' v-bind:key="key" :id='key' class='logItem'>
                            <p class='subtitle'>
                                {{key}}
                                <span class='is-pulled-right'>
                                    <b-button type="is-warning" size='is-small' rounded icon-right="copy" @click="copy(key)" title='Copier dans le presse papier'/>
                                </span>
                            </p>

                            <table class="table is-striped is-fullwidth">
                                <thead>
                                    <th>Identifiant</th>
                                    <th>Nom</th>
                                    <th>Mot de passe</th>
                                </thead>
                                <tr/>
                                <tr v-for="user in value" v-bind:key='user.id'>
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.password}}</td>
                                </tr>
                            </table>
                        </div>
                        <b-button type="is-success" expanded @click='download' icon-left="download" icon-right="download">Télécharger les identifiants</b-button>
                    </div>
                </div>
            </div>

            <div class='buttons is-centered'>
                <b-button type='is-danger' tag="router-link" :to="{name:'adminUsers'}" outlined>
                    Retour
                </b-button>
                
                <b-button type='is-primary' @click='run()'>
                    Créer
                </b-button>

            </div>
        </div>
    </div>
</template>
<script>

import UserFormNewUser from './UserFormNewUser';
import moment from 'moment';
import jsPDF from 'jspdf';

export default {
    data(){
        return{
            idComponentUser:0,
            nbStudents : [0],
            logContent : {},
            isLogVisible : false,
            file : null,
            userCSV : []
        };
    },

    components:{
        UserFormNewUser
    },

    props:{
        promo:{
            type:Number,
            default: moment().year()
        }
    },

    methods:{
        read(){
            let reader = new FileReader();   
            reader.readAsText(this.file);
            reader.onload = this.loadHandler;
            reader.onerror = this.errorHandler;
        },
        loadHandler(event) {
            let csv = event.target.result;
            this.processData(csv);
        },
        processData(csv) {
            let allTextLines = csv.split(/\r\n|\n/).filter(function (el) {return el != "";});
            let lines = [];
            for (let i=0; i<allTextLines.length; i++) {
                var data = allTextLines[i].split(';').map(e => e.split(',')).filter(function (el) {return el != "";});
                    var tarr = [];
                    for (var j=0; j<data.length; j++) {
                        tarr.push(data[j][0]);
                    }
                    tarr[2] = parseInt(tarr[2],10);
                    lines.push(tarr);
            }
            this.userCSV = lines;
            this.idComponentUser += 1000;
            this.nbStudents = [];
            for (let i = 0; i < this.userCSV.length; i++) {
                this.nbStudents.push(this.idComponentUser++)  
            }
            this.file = null;
        },
        errorHandler(evt) {
            if(evt.target.error.name == "NotReadableError") {
                alert("Impossible de lire le fichier !");
            }
        },
        run(){
            let that = this;
            this.nbStudents.forEach(function(elem){
                that.$refs[elem][0].validateBeforeSubmit();
            });
            
        },
        copy(key){
            let text = document.getElementById(key).innerText;
            navigator.clipboard.writeText(text);
            this.$buefy.toast.open(`Informations copiées dans le presse papier`);
        },
        download(){
            let pdfName = 'C-Easy - Comptes ' + moment().format('DD-MM-YYYY HH:mm'); 
            let doc = new jsPDF('a4');
            doc.setProperties({
                title: 'C-Easy - Comptes',
                subject: 'Users login',		
                author: 'C-Easy Team'
            });

            let i = 0
            for (let [key, value] of Object.entries(this.logContent)) {
                doc.setFontSize(22);
                doc.setFontType("bold");	
                doc.text(20, 20, key);

                doc.setFontSize(14);
                doc.text(20, 40, 'Identifiant');
                doc.text(60, 40, 'Nom');
                doc.text(148, 40, 'Mot de passe');
                doc.setFontSize(12);
                doc.setFontType("");
                let y = 48;
                value.forEach(function(user){
                    if(y > 272){
                        doc.addPage();
                        doc.setFontSize(14);
                        doc.setFontType("bold");
                        doc.text(20, 20, 'Identifiant');
                        doc.text(60, 20, 'Nom');
                        doc.text(148, 20, 'Mot de passe');
                        doc.setFontSize(12);
                        doc.setFontType("");
                        y = 28;
                    }
                    doc.text(20, y, user.id+' ');
                    doc.text(60, y, user.name+' ');
                    doc.text(148, y, user.password+' ');
                    doc.setLineWidth(0.1);
                    doc.line(20, y+2, 180, y+2);
                    y += 8;
                });

                i++;
                if(i != Object.keys(this.logContent).length)
                    doc.addPage();
            }
            
            doc.save(pdfName + '.pdf');
        },
        log(user){
            this.isLogVisible = true;
            let key = user.promo;

            if(!user.password) user.password = '******';
        
            let value = {'id':user.id, 'name':user.name, 'password':user.password}

            if (key == 1) key = 'Administrateurs';
            else key = 'Promotion ' + key;

            if (!(key in this.logContent))
                this.logContent[key] = []
            
            this.logContent[key].push(value);
        }
    }
}
</script>

<style scoped>
.logItem{
    padding-bottom: 1.25rem;
}

.columnSep{
    border-bottom :.1rem solid #dbdbdb;
}
</style>