<template>
    <div id="UsersPage" class="has-text-centered">
        <div class="columns is-centered">
            <div class="column is-10" >
                <div v-if='!promos || promos.length == 0'>
                    <p>Vous n'avez pas de promotion, veuillez ajouter un utilisateur à une promotion.</p>
                    <b-button type="is-primary" size='is-small' rounded icon-right="plus" title='Ajouter un utilisateur' tag="router-link" :to="{name:'aUForm'}"/>
                </div>
                <div v-else class="list" :key="reloadKey">
                    <AUPromos class='list-item' v-for="promo in promos" :key="promo" :promo='promo' @reload='getAllPromos()'/>
                </div>
                <b-button type="is-primary" icon-left="plus" title='Ajouter une promo' tag="router-link" :to="{name:'aUForm'}">Ajouter utilisateur(s)</b-button>
            </div>
        </div>
    </div>
</template>

<script>
import {getAllPromos} from '@/services/user'
import AUPromos from './AUPromos'
export default {
    
    components: {
        AUPromos
    },

    data(){
        return{
            promos:null,
            reloadKey:0      
        }
    },
    
    computed:{
        
    },

    props: {

    },

    mounted(){
    },

    created (){
        this.getAllPromos();
        //this.getUsersFromAllPromos();
    },

    methods:{
        getAllPromos: function(){
            this.reloadKey ++;
            getAllPromos().then(res => {
                this.promos = res.promos;
            }).catch(error => {
                throw new Error(error);
            });
        }
    }
}
</script>
