<template>  
    <form @submit.prevent="validateBeforeSubmit" >
        <br/>
        <b-field label="Identifiant" label-position="on-border">
            <b-input v-model='newUser.id' placeholder="Insérer l'id de l'utilisateur..."></b-input>
        </b-field>

        <b-message type="is-danger" v-if="errorMessageId">
            {{errorMessageId}}
        </b-message>

        <b-field label="Nom" label-position="on-border">
            <b-input v-model='newUser.name' placeholder="Insérer le nom d'utilisateur..."></b-input>
        </b-field>

        <b-message type="is-danger" v-if="errorMessageName">
            {{errorMessageName}}
        </b-message>
        
        <b-field>
            <b-switch v-model="newUser.type" name="type" :value='0' :true-value='1' :false-value='0'>
                Administrateur
            </b-switch>
        </b-field>

        <b-field v-if='newUser.type==0' label="Promotion" label-position="on-border">
            <b-numberinput v-model='newUser.promo'></b-numberinput>
        </b-field>
        <b-field v-else label="Mot de passe" label-position="on-border">
            <b-input type="password" v-model='newUser.password' placeholder='Insérer le mot de passe...' password-reveal></b-input>
        </b-field>

        <b-message type="is-danger" v-if="errorMessagePassword">
            {{errorMessagePassword}}
        </b-message>
        <b-field>
            <b-button v-if='!isAlone' :key='this.$parent.$children.length' size='is-small' type="is-danger" icon-right="trash" @click="removeUserComponent()" title='Supprimer'/>
        </b-field>

    </form>
</template>
<script>

import {createUser} from '@/services/user'
import moment from 'moment'
export default {
    data(){
        return{
            newUser:{
                name: (this.csv[1]?this.csv[1]:""),
                id: (this.csv[0]?this.csv[0]:""),
                type: 0,
                promo: (this.csv[2]?this.csv[2]:this.promo),
                password:""
            },
            errorMessageId: null,
            errorMessageName: null,
            errorMessagePassword: null
        };
    },
    props:{
        promo:{
            type:Number,
            default: moment().year()
        },
        isAlone:{
            type: Boolean,
            default: true
        },
        csv:{
            type: Object,
            default: null
        }
    },

    methods:{
        validateBeforeSubmit(){
            if(this.newUser.type == 1)
                this.newUser.promo = 1;
            this.errorMessageId =
                (this.newUser.id == "" ? "L'identifiant doit être renseigné." : null);
            this.errorMessageName =
                (this.newUser.name == "" ? "Le nom d'utilisateur doit être renseigné." : null);
            this.errorMessagePassword =
                (this.newUser.password.length < 6 && this.newUser.type == 1 ? "Mot de passe de 6 caractères minimum." : null);
            
            if(!this.errorMessageId && !this.errorMessageName && !this.errorMessagePassword)
                this.create();
        },
        create(){
            createUser(this.newUser).then(output => {
                this.$emit('log',output.user);
                this.$emit('remove');
                //this.$router.push("/administration/exercises/").catch(() => {});
            }).catch(error => {
                this.errorMessageId = error.message;
            });
        },
        removeUserComponent : function(){
            this.$emit('remove');
        }

    }
}
</script>
