<template>
    <li class='ChapterSideMenu'>
        <a @click="isExpanded = !isExpanded">
            <b-icon :icon="!isExpanded? 'folder' : 'folder-open'" size="is-small"></b-icon>
            {{ chapter.title }}
        </a>
        <ul v-if="isExpanded">
            <CourseSideMenu v-for="course in visible(chapter.courses)" :key="course.id" :course='course'/>
        </ul>
    </li>
</template>

<script>
import CourseSideMenu from './CourseSideMenu'
import {visible as sort} from '@/services/utils.js'

export default {
    name: 'chapterSideMenu',

    components: {
        CourseSideMenu
    },

    props: {
        chapter: Object
    },
    data() {
        return {
            isExpanded: false
        }
    },
    methods:{
        visible: function(Objects){
            return sort(Objects, this);
        }
    }

}
</script>