<template>
    <li class='CourseSideMenu'>
        <a @click="isExpanded = !isExpanded">
            <b-icon :icon="!isExpanded? 'book' : 'book-open'" size="is-small"></b-icon>
            {{ course.title }}
        </a>
        <ul v-if="isExpanded">
            <li> 
                <router-link :to="{name:'course', params: { courseId: course.id, course: course }}" exact> 
                    <b-icon icon="file-pdf" size="is-small"></b-icon> Consulter le cours
                </router-link> 
            </li>
            <li v-for="exercise in visible(course.exercises)" :key="exercise.id"> 
                <router-link :to="{name:'exercise', params: { exerciseId: exercise.id, exercise: exercise }}" exact> 
                    <b-icon icon="file-signature" size="is-small"></b-icon> {{exercise.title}} 
                </router-link> 
            </li>
        </ul>
    </li>
</template>

<script>
import {visible as sort} from '@/services/utils.js'

export default {
    name: 'courseSideMenu',
    props: {
        course: Object
    },
    data() {
        return {
            isExpanded: false
        }
    },
    methods:{
        visible: function(Objects){
            return sort(Objects, this);
        }
    }

}
</script>