<template>
    <div id="code-output" class="is-family-monocode">
        <div v-if="output.success == true">
            <div v-if="output.compiled == true">
                <p>Résultats des tests : 
                    <span v-if="output.pass == true"> Tu as réussi les tests !</span>
                    <span v-else>Essaye encore !</span>
                </p>
                <div v-for="test in testSet" :key="test.text">
                    <span>{{test.text}}</span>
                    <b-icon v-if="test.pass == true" icon="check" size="is-small" type="is-success"></b-icon>
                    <b-icon v-else icon="times" size="is-small" type="is-danger"/>
                </div>
            </div>
            <div v-else>
                <p class="output-error">{{compilationError}}</p>
            </div>
        </div>
        <div v-else>
            <p>{{otherError}}</p>
        </div>
    </div>
</template>

<script>

export default {
    name: 'code-output',
    props: {
        output:{
            type: Object,
            default: () => null
        }        
    },
    computed: {
        compilationError: function(){
            return this.output.error.replace(new RegExp('tmp\\/\\w*.c:', "g"), '');
        },
        otherError: function(){
            if(this.output.error == "The program was killed"){
                return "Hum... Ça boucle beaucoup j'aime pas ça."
            } else if (this.output.error == "Declaring new dependencies is prohibited.") {
                return "Oula, j'aime pas trop quand on essaye de déclarer des nouvelles dépendances. Utilise celles du professeur !"
            } else {
                return this.output.error;
            }
        },
        testSet: function(){
            let testResult = [];
            this.output.testSet.forEach(element => {
                let result = {
                    text: "",
                    pass: false
                };
                if(element.code == 0){
                    result = {
                        text: `Entrée : ${element.input} Sortie : ${element.output} Attendue : ${element.expected}`,
                        pass: element.output == element.expected
                    };
                    testResult.push(result);
                } else {
                    result = {
                        text: `Oula ton programme a planté avec pour entrée ${element.input} (Segmentation Fault pour les intimes) !`,
                        pass: false
                    };
                    testResult.push(result);
                }
            });
            return testResult;
        }
    },
    components: {
    },

    methods:{
        
    }
}
</script>
<style lang="css">
.output-error {
    white-space: pre-wrap;
}
</style>