<template>
        <div :id="monacoId" :class='"has-text-left " + (rounded?"rounded":"")'></div>
</template>

<script>
import * as monaco from 'monaco-editor'
import debounce from 'lodash.debounce';

export default {
    name: 'monaco',

    props: {

        monacoId:{
            type: String,
            default:'monaco'
        },

        value:{
            type: String,
            default : ''
        },

        language:{
            type: String,
            default: 'c'
        },
        
        readOnly:{
            type: Boolean,
            default: false
        },
        
        changeThrottle: {
            type: Number,
            default: 0
        },

        rounded:{
            type: Boolean,
            default:true
        }
    },

    data(){
        return{
            monacoEditor: null
        }
    },
    mounted(){
        this.loadMonaco();
        window.addEventListener('resize', this.onResize);
        this.onResize();
    },

    beforeDestroy(){
        window.removeEventListener('resize', this.onResize);
        this.monacoEditor.dispose();
    },

    methods:{
        onResize(){
            
            let elem = document.getElementById(this.monacoId).parentElement.parentElement;
            let style = window.getComputedStyle(elem);
            let paddingX = parseFloat(style.paddingLeft) +
                parseFloat(style.paddingRight);
            let paddingY = parseFloat(style.paddingTop) +
                parseFloat(style.paddingBottom);
            let width = elem.clientWidth - paddingX;
            let height = elem.clientHeight - paddingY;
            
            if(this.monacoEditor != null)
                this.monacoEditor.layout({height, width});
        },

        loadMonaco(){
            window.MonacoEnvironment = {
                getWorkerUrl() {
                return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
                    self.MonacoEnvironment = {
                    baseUrl: 'https://unpkg.com/monaco-editor@latest/min'
                    };
                    importScripts('https://unpkg.com/monaco-editor@latest/min/vs/base/worker/workerMain.js');`)}`
                },
            };

            this.monacoEditor = monaco.editor.create(document.getElementById(this.monacoId), {
                value: this.value,
                language: this.language,
                lineNumbers: "on",
                scrollBeyondLastLine: false,
                automaticLayout: true,
                readOnly: this.readOnly,
                theme: "vs-dark",
                fontFamily: "Cascadia Code",
                fontSize: 15,
                autoIndent: "full",
                mouseWheelZoom: true,
                wordWrap:'on',
            });
            this.monacoEditor.onDidChangeModelContent(event =>
                this.codeChangeHandler(this.monacoEditor, event)
            );
        },
        codeChangeHandler: function(editor) {
            if (this.codeChangeEmitter) {
                this.codeChangeEmitter(editor);
            } else {
                this.codeChangeEmitter = debounce(
                    function(editor) {
                        this.$emit('codeChange', editor);
                    },
                    this.changeThrottle
                );
                this.codeChangeEmitter(editor);
            }
        },
    }

}
</script>

<style lang="css">
#monaco{
    height: 100%;
}

.rounded .monaco-editor, .rounded .overflow-guard{
    border-radius: 4px;
}
</style>