<template>
    <div id='AdministrationPage'>
        <div class="tabs is-large is-centered">
            <ul>
                <router-link tag="li" :to="{name: 'adminStats'}" ><a><b-icon icon='chart-bar'/> Statistiques</a></router-link>
                <router-link tag="li" :to="{name: 'adminExercises'}" ><a><b-icon icon='copy'/> Exercices</a></router-link>
                <router-link tag="li" :to="{name: 'adminUsers'}" ><a><b-icon icon='users'/> Utilisateurs</a></router-link>
            </ul>
        </div>
         <router-view/>
    </div>
</template>
<script>
export default {
    name:'AdministrationPage'
}
</script>