<template>
    <div id="coursPage">
        <embed :src="course.content + '#toolbar=0&navpanes=0&scrollbar=0&view=FitH'" width="100%" style='height:100%;' type='application/pdf'/>
    </div>
</template>

<script>


export default {
  name: 'coursPage',

  components: {
    
  },

  //todo : check de l'id dans le mounted
  props: {
        courseId:{
            type: Number,
            default : -1
        },

        course:{
            type: Object,
            default: () => null
        }        
    }
}
</script>

<style scoped>
#coursPage{
    margin:-0.75rem !important;
    height: calc(100% + 1.5rem);
}
</style>
