<template>
    <div id="credits" class="has-text-centered">
        <h1 class="title">Cette magnifique application vous est proposée par :</h1>
        <div class="columns is-mobile is-centered">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                        <img src="@/assets/img/boss.png" alt="Le boss">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Léo "Le boss" JEAN</p>
                                <p class="subtitle is-6" >
                                    <a href="https://www.linkedin.com/in/léo-jean-20147519b/" target="_blank"><b-icon icon='linkedin' pack="fab"/></a>
                                    <a href="https://gitlab.com/LTPgame" target="_blank"><b-icon icon='gitlab' pack="fab"/></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                        <img src="@/assets/img/loic.png" alt="Loïc">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Loïc MAYOL</p>
                                <p class="subtitle is-6" >
                                    <a href="https://www.linkedin.com/in/loïc-mayol-97188b15b/" target="_blank"><b-icon icon='linkedin' pack="fab"/></a>
                                    <a href="https://gitlab.com/DO3B" target="_blank"><b-icon icon='gitlab' pack="fab"/></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="@/assets/img/marius.png" alt="Marius">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Marius RIDEL</p>
                                <p class="subtitle is-6" >
                                    <a href="https://www.linkedin.com/in/marius-ridel/" target="_blank"><b-icon icon='linkedin' pack="fab"/></a>
                                    <a href="https://gitlab.com/Marius_RIDEL" target="_blank"><b-icon icon='gitlab' pack="fab"/></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="subtitle">La bise.</h1>
    </div>
</template>

<script>

export default {
    name: 'credits',

    components: {
    },

    methods:{
        
    }
}
</script>