<template>
    <div id="exercisePage">

        <div class='tile is-ancestor'>

            <div class="tile is-parent is-7">
                <div class="tile is-child" >
                    <Monaco 
                        :value='currentCode'
                        :language='"c"'
                        :readOnly='false'
                        :changeThrottle=500
                        @codeChange="updateCode"
                        :key="exerciseId"
                        v-if="currentCode != null"
                    />
                </div>
            </div>

            <div class="tile is-vertical is-parent">
                <div class="tile is-child message is-info" id='instruction'>
                    <div class="message-header">
                        <p>{{exercise.title}}</p>
                        <span class="is-ragged-right">
                            <b-icon 
                                :class="d.done == true ?'has-text-success':'has-text-danger'"
                                :icon="d.done  == true ?'check-circle':'times-circle'" 
                            />
                        </span>
                    </div>
                    <div class="message-body instruction-content">
                        <div class="ql-editor ql-container" v-html="exercise.instruction">
                            {{exercise.instruction}}
                        </div>
                    </div>
                </div>

                <div class="tile is-child message is-info" id='output'>
                    <div class="message-header">
                        <p>Sortie</p>
                        <span class="is-ragged-right"><b-icon icon="terminal"/></span>
                    </div>
                    <div class="message-body output-content is-family-monospace">
                        <Output :output="output" :key="exerciseId"></Output>
                    </div>
                    <div class="message-footer buttons buttons-no-margin is-centered">
                            <b-button type="is-warning" @click="compile()" :loading="loading">Compiler</b-button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'katex/dist/katex.min.css';

import katex from 'katex'
import Monaco from './Code/Monaco'
import Output from './Code/CodeOutput'
import {compileAndTest} from '@/services/compiler'

export default {
    name: 'exercisePage',

    components: {
        Monaco,
        Output
    },
    props: {
        exerciseId:{
            type: Number,
            default : -1
        },

        exercise:{
            type: Object,
            default: () => null
        }        
    },
    mounted(){
        window.katex = katex;
        this.initialiseDo(this.exercise);
    },
    beforeRouteUpdate(to, from, next){
        this.output = null;
        this.currentCode = null;
        this.initialiseDo(to.params.exercise);
        next();
    },
    data(){
        return {
            loading: false,
            currentCode: null,
            d: {},
            output: {}
        };
    },
    methods:{
        compile(){
            this.loading = true;
            compileAndTest(this.currentCode, this.exercise).then(result => {
                this.output = result;
                this.$store.dispatch("dos/updateDo", result.do).then(result => {
                    this.d = result;
                });
            }).catch(error => 
                this.output = error
            ).finally(() => {
                this.loading = false;
            });
        },
        updateCode(editor){ 
            this.currentCode = editor.getValue();
        },
        initialiseDo(exercise){
            let d = this.$store.getters['dos/getDoById'](exercise.id);
            if(d === undefined){
                this.$store.dispatch("dos/addDo", exercise).then(result => {
                    this.d = result;
                    this.currentCode = "";
                }).catch(error => {
                    throw new Error(error);
                });
            } else {
                this.d = d;
                this.currentCode = d.code == null ? "" : d.code;
            }
        }
    }

}
</script>

<style lang="css">
#exercisePage .tile.is-ancestor{
    height: 100%;
}

.instruction-content{
    overflow-y:auto;
    height: 45vh;
}

#output{
    background-color: black!important;
}

.output-content{
    color:white !important;
    overflow-y:auto;
    height: calc(100vh -  45vh - 14.35rem - 3.51rem);
    font-size:0.75rem;
}

.message-footer{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dbdbdb;
    border-radius: 0px 0px 4px 4px;
    color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.5em;
    position: relative;
}

.buttons-no-margin{
    margin-bottom: 0 !important
}
</style>