<template>
    <div id="homePage" class="has-text-centered">
        <h1 class="title">Bonjour {{user.name}} !</h1>
        
        <h2 class="title is-size-6">Bienvenue sur C-Easy, la plateforme didactique pour apprendre le C en s'amusant.</h2>
        <p>Vous trouverez la liste des chapitres, leurs cours et leurs exercices sur votre gauche.
            <br>Choisissez-en un et vous serez transportés vers le monde formidable et joyeux de la programmation en C !</p>
        <div class="columns is-mobile is-centered">
            <div class="column is-one-fifth">
                <br>
                <figure class="image is-square">
                    <img src="@/assets/img/logoceasy.png" alt="ceasy"/>
                </figure>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import katex from 'katex';

export default {
    name: 'homePage',
    computed: {
        ...mapState({user: state => state.user.user})
    },
    mounted(){
        window.katex = katex;
    },
    components: {
    }
}
</script>
