<template>
  <div id="logInPage">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="column is-one-fifth">
              <figure class="image is-square">
                <img src="@/assets/img/logoceasy.png" alt="wilfried" />
              </figure>
            </div>
          </div>
          <div class="columns is-mobile is-centered has-text-centered">
            <h3 class="is-size-4 has-text-weight-bold">Bienvenue sur C-Easy !</h3>
          </div>
          <div class="columns is-mobile is-centered has-text-centered">
            <p>Connectez-vous pour apprécier vos deux prochaines heures de TP (ou plus).</p>
          </div>
          <div class="columns is-mobile is-centered">
            <form class="is-horizontal" id="loginForm">
              <div class="field">
                <div class="control has-icons-left">
                  <input
                    class="input"
                    type="text"
                    placeholder="Identifiant universitaire"
                    v-model="user.id"
                  />
                  <b-icon icon="user" size="is-small" class="is-left" />
                </div>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    class="input"
                    type="password"
                    placeholder="Mot de passe"
                    v-model="user.password"
                    @keyup.enter="login()"
                  />
                  <b-icon icon="lock" size="is-small" class="is-left" />
                </p>
              </div>
              <div class="field">
                <p class="control has-text-centered">
                  <b-button type="is-primary" @click="login()">Connexion</b-button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "logInPage",
  data() {
    return {
      user: {
        id: "",
        password: ""
      }
    };
  },
  methods: {
    login: function() {
      let user = this.user;
      this.$store
        .dispatch("user/login", { user })
        .then(() => this.$router.push("/").catch(() => {}))
        .catch(err => {
          console.log(err);
          let errorMessage =
            "Identifiants incorrects, veuillez vérifier votre identifiants universitaires ou votre mot de passe.";
          this.incorrectNotif(errorMessage);
        });
    },
    incorrectNotif(error) {
      this.$buefy.notification.open({
        message: error,
        position: "is-top-right",
        type: "is-danger",
        hasIcon: true
      });
    }
  },
  components: {}
};
</script>

<style lang="css">
#loginForm {
  padding-top: 1.5rem;
}
</style>