<template>
    <div id="pageNotFound" class="has-text-centered">
        <h1 class="title">Erreur de cheminement, vous n'êtes pas un gyoza.</h1>
        <div class="columns is-mobile is-centered">
            <div class="column is-two-fifths">
                <figure class="image is-square">
                    <img class="is-rounded" src="@/assets/img/wilfried404.jpg" alt="wilfried"/>
                </figure>
            </div>
        </div>
        <router-link to="/" class="has-text-primary">&gt; Rentrer à la maison. &lt;</router-link>
    </div>
</template>

<script>

export default {
    name: 'pageNotFound',

    components: {
    },

    methods:{
        
    }
}
</script>
