<template>
    <div id="ProfilPage" class="has-text-centered" v-if='user'>
        <div class="columns is-multiline is-centered">
            <div class="column is-12">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img :src="getImg(IDtoImgID(user.id))" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="columns">
                                <div class="column">
                                    <div class="content">
                                        <p><strong>{{user.name}}</strong> <small>{{user.id}}</small></p>
                                        <p v-if="user.type == 1">Professeur professionnel de la vie réelle</p>
                                        <p v-else>Élève ingénieur en informatique de la promotion {{user.promo}}</p>
                                    </div>
                                    
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <p>Exercices complétés : {{done}}</p>
                                        <p>Pourcentage d'exercices complétés : {{percentageCompletion}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            
            <div class="column is-4" v-if="isMine && total != 0">
                <div class="box">
                    <header>
                        <p>Nombre d'essais par exercice</p>
                    </header>
                    <NumberChart :chartdata="tryCollection"></NumberChart>
                </div>
            </div>
            <div class="column is-4" v-if="isMine && total != 0">
                <div class="box">
                    <header>
                        <p>Exercices complétés par chapitre</p>
                    </header>
                    <CompletedExerciseChart :chartdata="completedCollection"></CompletedExerciseChart>
                </div>
            </div>
            <div class="column is-4" v-if="isMine && total != 0">
                <div class="box">
                    <header>
                        <p>Temps de complétion par exercice</p>
                    </header>
                    <TimeForCompletionChart :chartdata="completionTimeCollection"></TimeForCompletionChart>
                </div>
            </div>

            <div class="column is-6" v-for="chapter in visible(chapters)" :key="chapter.id" >
                <ChapterProfilPage :chapter='chapter' :user='user' :isMine='isMine' @doneConfirm='doneConfirm'/>
            </div>

        </div>

    </div>
</template>

<script>
import { mapState } from 'vuex'
import {visible as sort} from '@/services/utils.js'
import ChapterProfilPage from './ProfilPage/ChapterProfilPage'
import NumberChart from './Charts/NumberChart'
import CompletedExerciseChart from './Charts/CompletedExerciseChart'
import TimeForCompletionChart from './Charts/TimeForCompletionChart'

export default {
    name: 'ProfilPage',

    components: {
        ChapterProfilPage,
        NumberChart,
        CompletedExerciseChart,
        TimeForCompletionChart
    },
    
    data(){
        return{
            isMine: true,
            user: null,
            total: 0,
            done: 0
        }
    },

    props: {
        userPassed:{
            type: Object,
            default : null
        }
    },

    computed: {
        ...mapState({chapters: state => state.chapters.allChapters}),
        ...mapState({dos: state => state.dos.allDos}),
        tryCollection: function(){
            let dos = this.dos;
            let exercisesTitles = [];
            let data = [];
            dos.forEach(d => {
                let exercise = this.$store.getters['chapters/getExerciseById'](d.idExercise);
                if(exercise.order > 0){
                    exercisesTitles.push(exercise.title);
                    data.push(d.try);
                }
            });
            let tryCollection = {
                labels: exercisesTitles,
                datasets: [{
                    data: data,
                    fill: false,
                    borderColor: "#00adef",
                }]
            }
            return tryCollection;
        },
        completedCollection: function(){
            let data = [];
            let colors = [];
            let chaptersTitles = [];
            this.chapters.forEach(chapter => {
                if(chapter.order > 0 && chapter.completion){
                    colors.push(this.getRandomColor());
                    chaptersTitles.push(chapter.title);
                    data.push(chapter.completion);
                }
            });
            data.push(this.total - this.done);
            chaptersTitles.push("Non complétés"),
            colors.push(this.getRandomColor());
            let completedCollection = {
                labels: chaptersTitles,
                datasets: [{
                    data: data,
                    backgroundColor: colors 
                }]
            }
            return completedCollection;            
        },
        completionTimeCollection: function(){
            let dos = this.dos
            let exercisesTitles = [];
            let data = [];
            dos.forEach(d => {
                let exercise = this.$store.getters['chapters/getExerciseById'](d.idExercise);
                
                if(exercise.order > 0 && d.completionTime != null){
                    exercisesTitles.push(exercise.title);
                    let dateCompletionTime = new Date(d.completionTime);
                    let dateStartTime = new Date(d.startTime);
                    let diff = Math.abs(Math.round((dateCompletionTime.getTime() - dateStartTime.getTime()) / 1000));
                    
                    data.push(diff);
                }
            });
            let completionTimeCollection = {
                labels: exercisesTitles,
                datasets: [{
                    data: data,
                    borderColor: "#00adef",
                    lineTension:0,
                }]
            }
            return completionTimeCollection;
        },
        percentageCompletion : function() {
            return this.total == 0 ? this.total : Math.round((this.done/this.total)*100);
        }
    },

    created (){
        this.$store.dispatch('chapters/getAllChapters');
        this.$store.dispatch('chapters/getAllExercises');
    },

    mounted(){
        if(this.userPassed == null) {
            if(this.$store.getters['user/isLoggedIn']) {
                this.user = this.$store.getters['user/info'];
                this.isMine = true;
            } else {
                this.$router.push("/").catch(() => {});
            }
        } else{
            this.user = this.userPassed;

            if(this.$store.getters['user/isLoggedIn']) {
                let tempUser = this.$store.getters['user/info'];

                if(tempUser.id == this.userPassed.id)
                    this.isMine = true;
                else
                    this.isMine = false;
            } else {
                this.$router.push("/").catch(() => {});
            }
        }
    },

    methods:{
        hashID: function(str) {
            let hash = 0;
            let length = str.length;
            let i = 0;
            
            if ( length > 0 )
                while (i < length)
                    hash = (hash << 5) - hash + str.charCodeAt(i++) | 0;
            return hash;
        },

        IDtoImgID: function(str){
            return Math.abs(this.hashID(str)) % 10; //10 = nombre d'img
        },

        getImg(img){
            var image = require.context('@/assets/img/profile-pictures/', false, /\.jpg$/)
            return image('./pp-' + img + ".jpg")
        },


        visible: function (Objects) {
            return sort(Objects, this);
        },

        doneConfirm : function(payload){
            this.total++;
            if(payload.done == true)
                this.done++;
            let index = this.chapters.findIndex(element => payload.chapter.id == element.id);
            this.chapters[index] = payload.chapter;
        },

        getRandomColor(){
            let letters = '0123456789ABCDEF'.split('');
            let color = '#';
            for (let i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

    }
}
</script>

<style scoped>
.message-content {
    background-color: white;
}
</style>