<template>
    <div class="panel">
        <p class='panel-heading' >
            {{chapter.title}}
            <span :class='(Math.round((done/total)*100)==100?"has-text-success":"has-text-primary")+ " tag is-pulled-right has-text-weight-bold"' @change='alert({done:done, total:total})'>
                {{this.total == 0 ? this.total : Math.round((done/total)*100)}}%
            </span>
        </p>

        <p class="panel-tabs">
            <a v-for="course in visible(chapter.courses)" :key="course.id"
                :class='(activeCourse.id ==course.id)?"is-active":""'
                @click="activeCourse = course">
                {{course.title}}
            </a>
        </p>
        <div v-if="activeCourse!=null" >
            <div v-for="course in visible(chapter.courses)" :key="course.id" :class='activeCourse.id == course.id?"":"is-hidden"'>
                <div v-for="exercise in visible(course.exercises)" :key="exercise.id">
                    <ExerciseProfilPage :exercise='exercise' :user='user' :isMine='isMine' @doneConfirm='doneConfirm'/>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import ExerciseProfilPage from './ExerciseProfilPage'
import {visible as sort} from '@/services/utils'

export default {
    name: 'ChapterProfilPage',

    components: {
        ExerciseProfilPage
    },
    data(){
        return {
            activeCourse: this.visible(this.chapter.courses)[0],
            total: 0,
            done: 0
        };
    },

    props: {
        chapter:{
            type: Object,
            default : null
        },

        user:{
            type: Object,
            default : null
        },
        isMine:{
            type: Boolean,
            default : true
        }
    },

    methods: {
        visible: function (Objects) {
            return sort(Objects, this);
        },

        doneConfirm : function(bool){
            this.total++;
            if(bool)
                this.done++;
            this.chapter.completion = this.done;
            this.$emit('doneConfirm', {done: bool, chapter: this.chapter});
        }
    }
}
</script>

<style scoped>
.panel-icon {
    height: auto;
}
.panel-block, .panel-heading {
    justify-content: space-between;
}
</style>