<template>
    <a :class="(!isMine?'is-disabled':'') + ' panel-block'" v-if='theDo == null' @click="confirm">
        {{exercise.title}}
        <b-icon class="panel-icon is-pulled-right has-text-danger" icon='times' title='Non commencé'/>
    </a>
    <a :class="(!isMine?'is-disabled':'') + ' panel-block'" v-else-if="theDo.done != 1" @click="confirm" >
        {{exercise.title}}
        <b-icon class="panel-icon is-pulled-right has-text-primary" icon='minus' title='En cours'/>
    </a>
    <div v-else>
    <a class="panel-block" @click="viewCode" >
        {{exercise.title}}
        <b-icon class="panel-icon is-pulled-right has-text-success" icon='check' title='Complété'/>
    </a>
    <div :class="'modal ' + (modalOpened?'is-flex':'')" v-if='modalOpened'>
        <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head is-small">
                    <p class="modal-card-title is-size-5 has-text-weight-bold">{{exercise.title}}</p>
                    <span class='is-size-7 has-padding-right' title="Nombre d'essai(s)">{{theDo.try}}</span>
                    <button class="delete" aria-label="close" @click='modalOpened = false'></button>
                </header>
                    <Monaco class="modal-card-body monaco-modal"
                        :value='theDo.code'
                        :language='"c"'
                        :readOnly='true'
                        :rounded='false'
                    />
                
            </div>
        </div>
    </div>
</template>
<script>
import {getDoFromUserFromExercise} from '@/services/do'
import Monaco from '../Code/Monaco'

export default {
    name: 'ExerciseProfilPage',

    components: {
        Monaco
    },

    data(){
        return {
            theDo:null,
            modalOpened:false
        };
    },

    props: {
        exercise:{
            type: Object,
            default : null
        },

        user:{
            type: Object,
            default : null
        },
        isMine:{
            type: Boolean,
            default : true
        }
    },

    created(){
        this.getDo()
    },

    methods: {
        getDo(){
            if(this.isMine){
                this.theDo = this.$store.getters['dos/getDoById'](this.exercise.id);
            }
            else{
                getDoFromUserFromExercise(this.user, this.exercise).then(result =>{   
                    this.theDo = result.do;
                }).catch(err => {
                    throw (err);
                });
            }

            let done = (this.theDo && this.theDo.done == 1);
            this.$emit('doneConfirm', done);
        },
        confirm() {
            if(this.isMine){
                this.$buefy.dialog.confirm({
                    title: this.exercise.title,
                    message: 'Vous n\'avez pas encore fini cet exercice. :(',
                    cancelText: 'Annuler',
                    confirmText: 'Aller faire l\'exercice',
                    type: 'is-primary',
                    onConfirm: () => this.$router.push({name:'exercise', params: { exerciseId: this.exercise.id, exercise: this.exercise }}).catch(() => {})
                })
            }
        },
        viewCode() {
            this.modalOpened = true;
        }
    }
}
</script>

<style scoped>
.panel-icon {
    height: auto;
}
.panel-block, .panel-heading {
    justify-content: space-between;
}
.is-disabled{
    cursor: not-allowed;
}

.monaco-modal{
    min-height: 75vh;
    max-height: 75vh;
    height: 75vh;
    padding:0;
    overflow: hidden;
    margin:0;
}
</style>