<template>
    <b-navbar id="navBar" class="is-primary">
        <template slot="brand">
            <b-navbar-item :active="false" tag="router-link" to="/" active-class=''>
                <img src="../../assets/img/logoceasy2.png" height="28" alt="Le C-Easy">
            </b-navbar-item>
        </template>

        <template slot="start">
            <b-navbar-item tag="router-link" :to="{ path: '/profil' }">
                Mon Profil
            </b-navbar-item>

            <b-navbar-item v-if='isAdmin()' tag="router-link" :to="{ path: '/administration' }">
                Administration
            </b-navbar-item>
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-light" @click="logout()">
                        <strong>Déconnexion</strong>
                        <b-icon icon="sign-out-alt" style="margin-left:0.5rem"></b-icon>
                    </a>
                </div>
            </b-navbar-item>
        </template>
        
    </b-navbar>
</template>

<script>
import API from '@/services/api'

export default {
    name: 'navBar',

    components: {
    },
    created(){
        if(this.$store.getters['user/isLoggedIn']){
            API.setAuthorizationHeaders(this.$store.state.user.token);
        }
        
        this.$store.dispatch('chapters/getAllChapters');
        this.$store.dispatch("dos/getAllDos");
        this.$store.dispatch('chapters/getAllExercises');
    },

    methods:{
        logout() {
            this.$store.dispatch('user/logout').then(() => this.$router.push("/").catch(err => err));
        },

        isAdmin: function() {
            return this.$store.getters['user/isAdmin'];
        }
    }
}
</script>