<template>
    <b-menu id="sideMenu" >
        <b-menu-list label="Menu">
            <li> <router-link to="/" exact> <b-icon icon="home" size="is-small"></b-icon> Accueil </router-link> </li>
            
            <ChapterSideMenu v-for="chapter in visible(chapters)" :key="chapter.id" :chapter="chapter"/>

        </b-menu-list>
    </b-menu>
</template>

<script>
import ChapterSideMenu from './SideMenu/ChapterSideMenu'
import { mapState } from 'vuex'
import {visible as sort} from '@/services/utils'

export default {
    name: 'sideMenu',
    computed: mapState({
        chapters: state => state.chapters.allChapters
    }),
    components: {
        ChapterSideMenu
    },
    methods:{
        visible: function (Objects) {
            return sort(Objects, this);
        }
    }
}
</script>

<style lang="css" scoped>

</style>