<template>
    <div id="homeRoute">
        <HomePage v-if="isLoggedIn()"/>
        <LogInPage v-else/>
    </div>
</template>

<script>
import HomePage from './pages/HomePage'
import LogInPage from './pages/LogInPage'
import API from '@/services/api'

export default {
    name: 'homeRoute',
    methods: {
        isLoggedIn: function() {
            if(this.$store.getters['user/isLoggedIn']){
                API.setAuthorizationHeaders(this.$store.state.user.token);
            }
            return this.$store.getters['user/isLoggedIn'];
        }
    },
    components: {
        HomePage,
        LogInPage
    }
}
</script>