<template>
    <div id="app" >

        <NavBar v-if="isLoggedIn()"/>

        <div class="columns is-fullheight">
            <SideMenu class="column is-2 is-side-menu is-hidden-mobile" v-if="isLoggedIn() && !$router.currentRoute.path.includes('/administration')"/>
            <div class="column">
                <router-view class=" is-full-height"/>
            </div>
        </div>

    </div>
</template>

<script>

import NavBar from './components/menus/NavBar'
import SideMenu from './components/menus/SideMenu'
import store from './store'

export default {
    name: 'app',
    store,
    methods: {
        isLoggedIn: function() {
            return this.$store.getters['user/isLoggedIn'];
        }
    },
    components: {
        NavBar,
        SideMenu
    }
}
</script>

<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #00adef;
$primary-invert: findColorInvert($primary);

$dark: #094270;
$primary-invert: findColorInvert($dark);

$grey-lighter-invert: findColorInvert($grey-lighter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($grey-lighter, $grey-lighter-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

/*
$menu-item-color: $black;
$menu-label-color: $black;*/
$menu-item-hover-color: $black;
$menu-item-hover-background-color: $white;
$menu-item-active-color: $black;
$menu-item-active-background-color: $grey-lighter;
$card-header-background-color: $grey-lighter;

$navbar-height: 3.25rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.columns.is-fullheight{
    min-height: calc(100vh - ( 3.25rem) ) !important;
    max-height: calc(100vh - ( 3.25rem ) ) !important;
    height: calc(100vh - ( 3.25rem) ) !important;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin:0;
}
.columns .column{
      overflow-y: auto;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
    overflow: hidden;
}

.navbar-menu{
    background-color: $primary;
}

.navbar-menu a{
    color: $light;
}

.is-side-menu{
    border-right:1px solid $grey-lighter;
    background-color: $light;
}

.is-full-height{
    height: 100%;
}

.icon svg {
    height: auto;
}


.has-padding-right{
    padding-right: 0.75rem;
}

.is-divider, .is-divider-vertical{
    display: block;
    position: relative;
    border-top: .1rem solid #dbdbdb;
    height: .1rem;
    margin: 1rem 0;
    text-align: center;
}

@media screen and (min-width: 769px){
    .is-divider-vertical {
        display: block;
        flex: none;
        width: auto;
        height: auto;
        padding: 2rem;
        margin: 0;
        position: relative;
        border-top: none;
        min-height: 2rem;
    }
}

@media screen and (min-width: 769px){
    .is-divider-vertical::before {
        border-left: .1rem solid #dbdbdb;
        bottom: 1rem;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 1rem;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.has-margin-bot{
    margin-bottom: 0.75rem;
}
</style>
